*{
    text-align: center;
} 
body{
    background-image: url(img/bgimg.jpg);
    background-size: 1920px 1080px;
    /* background-repeat: no-repeat; */
}
h1{
    background-color: rgba(166, 83, 0, 0.659);
    border-radius: 10px;
}
button{
    background-color: rgba(68, 180, 250, 0.397);
    font-size: 140%;
    transition: 0.35s;
    /* border-radius: 10%; */
}
button:hover{
    border-width: 0.3em;
    border-color: rgba(255, 188, 87, 0.81);
}
button:active{
    background-color:rgba(255, 188, 87, 0.81);
}

/* ROCK PAPER SCISSORS btn bg selector */
@media screen and (max-width: 450px) {
    .playbtns{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
}

.disappear{
    display: none;
}

.bigger{
    font-size: 60px;
    background-color: rgba(210, 105, 30, 0.495);
    transition: 2s;
}

/* clear & statics btn selector */
.optionbtns{
    padding-top: 5%;
    gap: 20px;
    display: flexbox;
    align-content: space-around;

}
/* Rock Paper Scissors btn selector */
.playerSelection{
    padding: 10%;
    border-radius: 25px;
}
/* each R P C btn */
.rock{
    background-image: url(img/rock.jpg);
    color: rgb(250, 250, 250);
    background-position: 50%;
    background-size: 500px;
    background-repeat: no-repeat;
}
.paper{
    background-image: url(img/paper.jpg);
    background-position: 50%;
    background-size: 100px;
    /* background-repeat: no-repeat; */
}
.scissors{
    background-image: url(img/scissors.jpg);
    color: aliceblue;
    background-position: 50%;
    background-size: 500px;
    background-repeat: no-repeat;
}


/* options btn */
.thatopt{
    border-radius: 20px;
    margin: 20px
}

/* statics */
.offStatic{
    visibility: hidden;
}
#theStatic{
    border-radius: 0.5em;
    max-width: 450px;
    background-color: rgba(24, 151, 255, 0.44);
    list-style: none;
}

@media (width:400px){
    .playbtns{
        display: flex;
        flex-direction: column;
    }
}

.explanation{
    transition: 4s;
}
.explanation:hover{
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.103);
}
